{% extends 'index.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="static\css\styles.css">
  </head>
  <body>
    <section id="tranding">
      <div class="container">
        <h3 class="text-center section-subheading">Tendencia</h3>
      </div>
      <div class="container">
        <div class="swiper tranding-slider">
          <div class="swiper-wrapper">
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
              <div class="tranding-slide-img">
                <img src="static\images\DBS.webp">
              </div>
              <div class="tranding-slide-content">
                <h3 class="N_chp">Cap: #098</h3>
                <div class="tranding-slide-content-bottom">
                  <h2 class="Manga_name">
                    Dragon Ball Super
                  </h2>
                  <p class="Mangaka_name">Akira Toriyama</p>
                  <h3 class="Manga_rate">
                    <span>Rate: 4</span>
                    <div class="rating">
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </div>
                  </h3>
                </div>
              </div>
            </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="static\images\Kagurabachi.jpg">
                </div>
                <div class="tranding-slide-content">
                  <h3 class="N_chp">Cap: #008</h3>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="Manga_name">
                      Kagubarachi</h2>
                    <p class="Mangaka_name">Takeru Hokazono</p>
                    <h3 class="Manga_rate">
                      <span>Rate: 4</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="static\images\boruto.jpg">
                </div>
                <div class="tranding-slide-content">
                  <h3 class="N_chp">Cap: #003</h3>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="Manga_name">
                      Boruto Two Blue Vortex
                    </h2>
                    <p class="Mangaka_name">Masashi Kishimoto</p>
                    <h3 class="Manga_rate">
                      <span>Rate: 4</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            <!-- Slide-end -->
            <!-- Slide-start -->
            <div class="swiper-slide tranding-slide">
                <div class="tranding-slide-img">
                  <img src="static\images\Chainsaw Man.jpg">
                </div>
                <div class="tranding-slide-content">
                  <h3 class="N_chp">Cap: #147</h3>
                  <div class="tranding-slide-content-bottom">
                    <h2 class="Manga_name">
                      Chainsaw Man
                    </h2>
                    <p class="Mangaka_name">Tatsuki Fujimoto</p>
                    <h3 class="Manga_rate">
                      <span>Rate: 4</span>
                      <div class="rating">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                      </div>
                    </h3>
                  </div>
                </div>
              </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </div>
    </section>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="static\js\script.js"></script>
  </body>

</html>
{% endblock %}
