<!DOCTYPE html> 
<html lang="es"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Manga Reader</title> 
    <link rel="stylesheet" href="static\css\styles.css"> <!-- Enlace a una hoja de estilos externa --> 
</head> 
<body>
    <div id="navbar" class="navbarindex">
        <ul>
            <li><a href="Home.html">Home</a></li>
            <li><a href="Recientes.html">Recientes</a></li>
            <li><a href="TopMangas.html">Top Mangas</a></li>
            <li><a href="SobreGatsu.html"> Sobre Gatsu</a></li>

        </ul>
    </div>
    <div id="footer">
        <!-- Contenido del footer -->
    </div>
</body>
</html>